@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f8f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 414px;
    height: 830px;
    background: url(../h.jpeg);
    border-radius: 40px;
    box-shadow: 0 0 0 5px #000000,
                0 0 0 10px #8f8f8f,
                0 0 3px 14px #222222,
                0 0 0 19px #f4f4f4,
                0 0 15px 22px #6a6a6a61;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.container:before{
    content: '';
    position: absolute;
    width: 160px;
    height: 50px;
    background: linear-gradient(340deg, black, #cdcdcd);
    border-radius: 50px;
    top: -25px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
}
.wrapper .top{
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
}
.wrapper .top span{
    color: #fff;
}
.wrapper .top label i{
    color: #fff;
    margin-left: 6px;
    font-size: 14px;
}
.wrapper .time{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.wrapper .time i{
    color: #f4f2ff;
    font-size: 30px;
    margin-bottom: 20px;
}
.wrapper .time h1{
    color: #f4f2ff;
    font-size: 70px;
    font-weight: 300;
}
.wrapper .time span{
    color: #fff;
    font-size: 20px;
    display: inherit;
    margin-top: -16px;
}
.noti-title{
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    margin-bottom: 10px;
}
.noti-title h3{
    color: #fff;
    font-weight: 400;
}
.noti-title i{
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #000;
    background: #ffffff87;
    border-radius: 50px;
    text-align: center;
    backdrop-filter: blur(2px);
    cursor: pointer;
}
.notification{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.notification .noti-top{
    background: #ffffffbf;
    padding: 10px;
    border-radius: 12px 12px 0 0;
    backdrop-filter: blur(8px);
}
.notification .noti-bottom{
    background: #ffffff7d;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    backdrop-filter: blur(8px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.notification .noti-top label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.notification .noti-top label span{
    color: #5a5a5a;
    font-size: 14px;
    text-transform: capitalize;
}
.notification .noti-top label span i{
    width: 20px;height: 20px;
    background: linear-gradient(20deg, #25D366,#bdd6c6);
    text-align: center;
    line-height: 20px;
    border-radius: 6px;
    margin-right: 8px;
    color: #fff;
}
.notification .noti-top h4{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.notification .noti-top p{
    font-size: 15px;
}
.notification .noti-bottom h4{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.notification .noti-bottom p{
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
}

.notification .noti-bottom button{
    width: 45%;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background: #ffffff9c;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .4s;
}
.notification .noti-bottom button:hover{
    background: #fff;
}

.light-camera{
    margin-top: 30px;
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
}
.light-camera i{
    width: 55px;height: 55px;
    line-height: 55px;
    text-align: center;
    background: #0000005e;
    border-radius: 50px;
    color: #fff;
    transition: .5s;
    font-size: 22px;
    backdrop-filter: blur(8px);
    cursor: pointer;
}
.light-camera i:hover{
    background: #00000096;
    transform: scale(1.2);
}
.home-button{
    position: absolute;
    width: 145px;height: 5px;
    background: #fff;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
    border-radius: 50px;
}
.container:hover .home-button{
    animation: homebtn .8s ease .1s 3  ;
}
@keyframes homebtn{
    from{bottom: 6px;}
    to{bottom: 14px;}
}
.container:hover{
    box-shadow: 0 0 0 5px #000000,
                0 0 0 10px #8f8f8f,
                0 0 3px 14px #222222,
                0 0 0 19px #f4f4f4,
                0 10px 20px 23px #6a6a6a61;
}